.hero {
  position: relative;
  height: 80vh;
  background-size: cover;
  background-position: center;
  animation: slide 15s infinite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #00032c;
  text-align: center;
}

@keyframes slide {
  0%   { background-image: url("/476844663_545269585209836_6888508904361484305_n.jpg"); }
  33%  { background-image: url("/480176641_550031271400334_6041266012107325197_n.jpg"); }
  66%  { background-image: url("/480486467_550044434732351_1271095641513238410_n.jpg"); }
  100% { background-image: url("/480447180_550031291400332_8704963933822586531_n.jpg"); }
}
