.hero {
  position: relative;
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #00032c;
  text-align: center;
  transition: background-image 1s ease-in-out;
}
